<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Game>
    <PlayerHandCardCountLimit>6</PlayerHandCardCountLimit>
    <AI_Difficulty>0</AI_Difficulty>
  </Game>
  <Sound>
    <BGM_Volume>0.3049169</BGM_Volume>
    <SoundEffect_Volume>0.8432017</SoundEffect_Volume>
    <SoundIsOn>True</SoundIsOn>
  </Sound>
  <Player>
    <PlayerGetNewCard>2</PlayerGetNewCard>
  </Player>
  <Enemy>
    <EnemyGetNewCard>2</EnemyGetNewCard>
  </Enemy>
</Config>